body {
  display: flex;
  font-size: calc(.6vw + .8em);
  margin: 0;
  min-height: 100vh;
}

body {
  background: #2d2d2d;
  color: white;
}

a.ghost, a.gray, a.disabled {
  border-radius: 2px;
  padding: 0.4em 0.8em;
}

a.ghost {
  background-color: #68f;
  border: 2px solid #68f;
  color: white;
  transition: 0.1s;
}

a.ghost:hover {
  background-color: transparent;
  border-color: #68f;
  color: #68f;
}

a.gray, a.disabled {
  background-color: rgba(148, 148, 148, 0.08);
  transition: 0.25s;
}

a.gray:hover {
  background-color: rgba(148, 148, 148, 0.2);
}

html {
  background-color: #282828;
}

article {
  border-top: 1px solid rgba(148, 148, 148, 0.08);
}

article:first-of-type {
  border-top: none;
}

article, body > header, body > footer {
  padding: 1em calc(22% - 4em);
}

body > header {
  background-color: #282828;
  color: white;
}

body > footer {
  background-color: #282828;
  color: #999;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}

article header {
  margin-bottom: 1.6em;
}

article footer {
  padding: 1em 0;
}

main.advisories table {
  width: 100%;
}

nav {
  margin: 0 -0.8em;
}

nav a {
  display: inline-block;
  margin: 0 0.8em;
}

nav, body > footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.advisories a {
  font-weight: 500;
}

.advisories ul {
  list-style: none;
  padding-left: 0;
}

.advisories li {
  margin-bottom: 30px;
}

.advisories h3 {
  margin: 0;
}

.advisories time {
  font-weight: 600;
}

.search-page ul {
  list-style: none;
  padding-left: 0;
}

.tag {
  font-size: 16px;
}

/* Specifics for homepage/about */

.homepage {
  text-align: center;
  margin-bottom: 5em;
}

.homepage h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

.homepage h2 {
  font-size: 3rem;
  margin-top: 5rem;
  font-weight: 600;
}

.homepage h3 {
  margin-top: 0;
  font-weight: 600;
}

.homepage pre {
  text-align: left;
}

/* For blocks on the homepage */

.row {
  display: flex;
  column-gap: 20px;
  margin-top: 20px;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column;
  }
}

.column {
  flex: 1;
  background-color: #282828;
  padding: 25px;
  border-radius: 4px;
}

.column > pre {
  margin: 0;
}

.column > p {
  text-align: left;
}

.column > p.get-started-button {
  text-align: center;
}

/* For smaller row without special background */

.header-row {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-top: 20px;
  width: 60%;
  margin: auto;
}

@media (max-width: 800px) {
  .header-row {
    flex-direction: column;
  }
}

.header-column-text {
  flex: 3;
  padding: 15px;
}

.header-column-image {
  flex: 1;
  padding: 15px;
}

.header-column > img {
  height: 300px;
}

.header-column-text > p {
  text-align: left;
}

.search-footer {
  margin-bottom: 3em;
}

/* Buttons */

a.button {
    display: inline-block;
    padding: 0.2em 1em;
    margin: 0 0.1em 0.1em 0;
    border: 3px solid rgba(255,255,255,0);
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    background-color: #68f;
}

a.button:hover{
    border-color: rgba(255,255,255,1);
}
