{% extends "base.html" %}

{% block title %}Advisories{% endblock %}

{% block content %}
<main class="advisories">
  <article>

    {% for year_grouped_advisories in advisories_per_year %}
    <header>
      <h1>{{ year_grouped_advisories.year }}</h1>
    </header>

    <ul>
      {% for (advisory, rendered_title, advisory_title_type) in year_grouped_advisories.advisories %}
      <li>
        <time datetime="{{ advisory.date().as_str() }}">
          {{ advisory.date() | friendly_date }}
        </time>

        {% if advisory.metadata.yanked %}
        <h3><a class="yanked" href="/advisories/{{ advisory.id() }}.html">
            {{ advisory.id() }}
          </a></h3>
        (yanked advisory)
        {% else %}
        <h3>
          <a href="/advisories/{{ advisory.id() }}.html">
            {{ advisory_title_type }}
          </a>
        </h3>
        <span>{{ rendered_title|safe }}</span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </article>
</main>
{% endblock %}
