name: cvss

on:
  pull_request:
    paths:
      - ".github/workflows/cvss.yml"
      - "cvss/**"
      - "Cargo.*"
  push:
    branches: main

defaults:
  run:
    working-directory: cvss

env:
  RUSTFLAGS: "-D warnings"
  RUSTDOCFLAGS: "-D warnings"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.60.0 # MSRV
          - stable
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          target: wasm32-unknown-unknown
          override: true
      - run: cargo build --no-default-features --release --target wasm32-unknown-unknown

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.60.0 # MSRV
          - stable
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
      - run: cargo check
      - run: cargo test --release
      - run: cargo test --all-features --release

  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          profile: minimal
      - run: cargo doc --all-features
