name: platforms

permissions: {}

on:
  pull_request:
    paths:
      - ".github/workflows/platforms.yml"
      - "platforms/**"
      - "Cargo.*"
  push:
    branches: main

defaults:
  run:
    working-directory: platforms

env:
  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.40.0 # MSRV
          - stable
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f # v1.0.6
        with:
          toolchain: ${{ matrix.rust }}
          override: true
          profile: minimal
      - run: rm ../Cargo.toml # Remove from workspace to support older MSRV
      - run: cargo check --all-features
      - run: cargo test --no-default-features
      - run: cargo test
      - run: cargo test --all-features

  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f # v1.0.6
        with:
          toolchain: stable
          override: true
          profile: minimal
      - run: cargo doc --all-features
