name: quitters

permissions: {}

on:
  pull_request:
    paths:
      - ".github/workflows/rustsec.yml"
      - "quitters/**"
      - "Cargo.*"
  push:
    branches: main

defaults:
  run:
    working-directory: quitters

env:
  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.85.0 # MSRV of `cargo audit`, should be bumped in tandem
          - stable
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
        with:
          toolchain: ${{ matrix.rust }}
          override: true
          profile: minimal
      - run: cargo check
      - run: cargo test --release

  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
        with:
          toolchain: stable
          override: true
          profile: minimal
      - run: cargo doc --all-features
