name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: The tag to release
  push:
    tags:
      - cargo-audit/v*.*.*

defaults:
  run:
    working-directory: cargo-audit

env:
  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings

jobs:
  build:
    strategy:
      matrix:
        name:
          - linux-x86-64-gnu
          - linux-x86-64-musl
          - linux-armv7-gnu
          - linux-arm64-gnu
          - mac-x86-64
          - windows-x86-64
        include:
          - name: linux-x86-64-gnu
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            cross: false

          - name: linux-x86-64-musl
            os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            cross: true

          - name: linux-armv7-gnu
            os: ubuntu-latest
            target: armv7-unknown-linux-gnueabihf
            cross: true

          - name: linux-arm64-gnu
            os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            cross: true

          - name: mac-x86-64
            os: macos-latest
            target: x86_64-apple-darwin
            cross: false

          - name: windows-x86-64
            os: windows-latest
            target: x86_64-pc-windows-msvc
            cross: false

    name: Binaries for ${{ matrix.name }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4.1.1
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('Cargo.lock') }}
          # The tag to build or the tag received by the tag event
          ref: ${{ github.event.inputs.version || github.ref }}
      - uses: actions/cache@v4.1.1
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-index-${{ hashFiles('Cargo.lock') }}
      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af
        with:
          toolchain: stable
          profile: minimal
          override: true
      - name: Install target using rustup
        shell: bash
        run: rustup target add ${{ matrix.target }}
      - uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505
        name: Build
        with:
          use-cross: ${{ matrix.cross }}
          command: build
          args: --release --locked --features "${{ join(matrix.features, ',') }}" --target ${{ matrix.target }}
      - name: Package
        shell: bash
        run: |
          ext=""
          [[ "${{ matrix.name }}" == windows-* ]] && ext=".exe"
          bin="../target/${{ matrix.target }}/release/cargo-audit${ext}"
          version=$(echo "${{ github.ref }}" | cut -d/ -f4)
          dst="cargo-audit-${{ matrix.target }}-${version}"
          mkdir "$dst"
          mv "$bin" "$dst/"
          mv README.md CHANGELOG.md LICENSE-APACHE LICENSE-MIT "$dst/"
      - name: Archive (tar)
        if: '! startsWith(matrix.name, ''windows-'')'
        shell: bash
        run: |
          version=$(echo "${{ github.ref }}" | cut -d/ -f4)
          dst="cargo-audit-${{ matrix.target }}-${version}"
          tar cavf "../$dst.tgz" "$dst"
      - name: Archive (zip)
        if: startsWith(matrix.name, 'windows-')
        shell: bash
        run: |
          version=$(echo "${{ github.ref }}" | cut -d/ -f4)
          dst="cargo-audit-${{ matrix.target }}-${version}"
          7z a "../$dst.zip" "$dst"
      - uses: softprops/action-gh-release@c95fe1489396fe8a9eb87c0abf8aa5b2ef267fda
        with:
          files: |
            cargo-audit-*.tgz
            cargo-audit-*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
